@media (max-width: 991px) {
  .navbar .navbar-nav {
    background: var(--bg-gray);
    border-radius: 0.188rem;
    text-align: center;
  }
  .navbar .navbar-nav .nav-link {
    color: var(--text-white) !important;
    padding: 0.66rem 0;
  }
  .about-details {
    z-index: 0;
  }
  /* .about-info {
    margin-left: 2rem;
    background: var(--bg-white);
    height: 25vh;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
  } */
}

@media (max-width: 767px) {
  .home-image {
    transform: rotate(0deg);
  }
  /* .about-info {
    height: 40vh;
    margin-left: 0rem;
  } */
}

@media (max-width: 600px) {
  /* .about-info {
    height: 40vh;
  } */
}

@media (max-width: 400px) {
  /* .about-info {
    height: 50vh;
    padding: 0 3rem;
    margin-left: 0rem;
  } */
}
